# App
pillow==11.0.0

# Compiling
https://github.com/pyinstaller/pyinstaller/archive/7ebb7014a47f635a2475e4047714f45578f03dec.zip # idk if this actually works or not

# Documentation
mkdocs==1.6.1
mkdocs-material==9.5.41